form#uploadCertForm(method="post", encType="multipart/form-data" class='slide-form top-slide') 
  .Upload
    | Upload certificates and keys:
    span.UploadInput
      input#certUpload(type="file", multiple, name="certFile", accept=".pem,.crt", title="Upload file")
    div#UploadDrop(ondragover="dragOverHandler(event);" ondrop="dropHandler(event)") Or drop files here
    div.form-buttons
      input#fileCertReset(type="reset")
      button#uploadCertButton.form-submit-button(type="button", onClick="uploadPem()" title="submit", value="Upload") Upload
