block variables
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    link(rel="stylesheet" href="magnificpopup/magnific-popup.css")
    link(rel="stylesheet", type="text/css" href="/styles/style1.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js")
    script(src="magnificpopup/magnific-popup.js")
    title #{title} | Local Certificate Manager
  body
    div#root
      block layout-content