h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.certs-view {
    border: 1px black solid;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

div.keys-view {
    border: 1px black solid;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

div.view-content {
    border: 3px;
}

ul.view-table {
    list-style-type: none;
    padding-left: 5px;
}

.slide-form {
    display: none;
    border: 1px black solid;
    padding: 5px 5px 5px 5px;
    margin: 5px 0px 5px 0px;
    background-color: rgb(232, 247, 219);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subject-title {
    width: 140px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 4px;
    display: block;
}

.subject-value {
    width: 600px;
    margin-bottom: 1em;
}

.form-submit-button {
    margin-left: 5px;
}

div.form-buttons {
    padding-top: 4px;
    padding-bottom: 4px;
}

button#uploadButton {
    margin-left: 8px;
    float: left;
}

.tag-form-button {
    margin-left: 10px;
}

.tags {
    width: calc(100% - 50px);
}

div.cert-line-inner:hover {
    background-color: rgb(231, 252, 231);
    cursor: pointer;
    width: 100%;
}

div.cert-details {
    cursor: default;
}

.cert-info-tags-edit {
    cursor: pointer;
}

span.cert-line-id {
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
    font-weight: bolder;
    color: darkviolet;
    cursor: pointer;
    width: 5%;
}

span.cert-line-arrow {
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    float: left;
    padding-right: 5pt;
}

span.cert-line-info {
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    word-wrap: break-word;
    width: 95%
}

span.cert-line-tags-container {
    float: right;
}

span.cert-value-key {
    background-color: lightpink;
}

span.cert-value-signer {
    background-color: #66CD66;
    /* color: #98FB98;
    color: #76EE76;
    color: #66CD66;
    color: #458B45;
    color: #2E8B57; */
}

span.cert-value-signed {
    background-color: #7AC5CD;
}

.cert-out-of-validity {
    color: red;
}

div.cert-details {
    display: none;
}

div.cert-container {
    font-family: monospace;
    margin-left: 25px;
    margin-bottom: 10px;
}

span.cert-info-type-key {
    color: red;
}

button.cert-info-tags-edit {
    font-size: 7pt;
    font-style: italic;
    font-weight: 900;
    color: orangered;
}

span.key-line-arrow {
    font-family:'Courier New', Courier, monospace;
    cursor: pointer;
}

span.key-line {
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    word-wrap: break-word;
}

div.key-details {
    display: none;
}

div.key-container {
    font-family: monospace;
    margin-left: 25px;
    margin-bottom: 10px;
}

input[type=file]::file-selector-button {
    background-color: rgb(34, 116, 34);
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 12pt;
    margin-left: 4px;
    cursor: pointer;
    color: whitesmoke;
    border-radius: 2px;
    width: 80pt;
}

input[type=file]::file-selector-button:hover {
    background-color: rgb(64, 167, 64);
}

#uploadCertButton {
    background-color: rgb(34, 116, 34);
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 12pt;
    margin-left: 4px;
    cursor: pointer;
    color: whitesmoke;
    border-radius: 2px;
    width: 80pt;
}

#uploadCertButton:hover {
    background-color: rgb(64, 167, 64);
}

#fileCertReset {
    background-color: rgb(34, 116, 34);
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 12pt;
    margin-left: 4px;
    cursor: pointer;
    color: whitesmoke;
    border-radius: 2px;
    width: 80pt;
}

#fileCertReset:hover {
    background-color: rgb(64, 167, 64);
}

#certUpload {
    width: 50%;
}

button.button1 {
    background-color: rgb(34, 116, 34);
    border: none;
    padding: 8px 8px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    color: whitesmoke;
    border-radius: 6px;
    width: 140pt;
}

span.button1-arrow {
    float: right
}

button.button1:hover {
    background-color: rgb(64, 167, 64);
}

.button2 {
    background-color: rgb(34, 116, 34);
    border: none;
    padding: 8px 8px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    color: whitesmoke;
    border-radius: 6px;
    width: 100pt;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

button.button2-red {
    background-color: rgb(160, 13, 13);
}

.button2:hover {
    background-color: rgb(64, 167, 64);
}

button.button2-red:hover {
    background-color: red;
}

.button3 {
    float: right;
    margin: 8px 8px;
}

#tagChooserValue {
    width: calc(100% - 130px);
}

#tagCaseLabel {
    margin-left: 4px;
    font-size: small;
}

.modal-label {
    color: green;
    width: 100%;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}

.error-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    border: 5px red solid;
}

.msg-error-color {
    color: red;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.msg-good-color {
    color: black;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.new-form-buttons {
    padding-top: 10px;
}

.hidden {
    display: none;
}

.sub {
    font-size: 15px;
    margin-left: 8pt;
}

.san-value {
    margin-left: 8pt;
    width: 120pt;
}

.san-enter {
    float: right;
    cursor: pointer;
}

.san-list {
    border-width: 0px;
    outline: none;
    margin-left: 8pt;
}

.san-list:focus {
    border-width: 0px;
    outline: none;
}
