div.Certs {
    /* height: 100%; */
    border: 1px black solid;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

div.Keys {
    border: 1px black solid;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

div.CertList {
    border: 3px;
}

ul.CertTable {
    list-style-type: none;
    padding-left: 5px;
}

.slideForm {
    display: none;
    border: 1px black solid;
    padding: 5px 5px 5px 5px;
    margin: 5px 0px 5px 0px;
    background-color: rgb(232, 247, 219);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.SubjectTitle {
    width: 140px;
    text-align: left;
    /* padding-right: 2em; */
    padding-top: 10px;
    padding-bottom: 4px;
    display: block;
}

.SubjectValue {
    /* display: block; */
    width: 600px;
    /* float: right; */
    margin-bottom: 1em;
}

/* form#uploadCertForm {
    display: none;
} */

span.UploadButton {
    margin-left: 4px;
}

div.SubmitButton {
    padding-top: 4px;
    padding-bottom: 4px;
}

button#uploadButton {
    /* padding-left: 4px; */
    margin-left: 8px;
}

span.idLine {
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
    font-weight: bolder;
    color: darkviolet;
    /* float: left; */
    cursor: pointer;
    /* padding-left: 10%; */
}

span.idValue {
    width: 5%;
}

span.certArrow {
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    float: left;
    padding-right: 5pt;
}

span.certValue {
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    word-wrap: break-word;
    float: right;
    width: 95%
}

span.certValueKey {
    background-color: lightpink;
}

span.certValueSigner {
    background-color: palegreen;
}

span.certValueSigned {
    background-color: paleturquoise;
}

span.certButtons {
    text-align: right;
    display: block;
}

span.certDeleteBtn {
    cursor: pointer;
}

span.certDownloadBtn {
    cursor: pointer;
}

div.certDetails {
    display: none;
}

div.certInfo {
    font-family: monospace;
    margin-left: 25px;
    margin-bottom: 10px;
}

span.certPrivateKey {
    color: red;
}

span.keyArrow {
    font-family:'Courier New', Courier, monospace;
    cursor: pointer;
    /* padding-right: 10pt; */
}

span.keyLine {
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    word-wrap: break-word;
}

span.keyButtons {
    text-align: right;
    display: block;
}

span.keyDeleteBtn {
    cursor: pointer;
}

span.keyDownloadBtn {
    cursor: pointer;
}

div.keyDetails {
    display: none;
}

div.keyInfo {
    font-family: monospace;
    margin-left: 25px;
    margin-bottom: 10px;
}

button.button1 {
    background-color: rgb(34, 116, 34);
    border: none;
    padding: 8px 8px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    color: whitesmoke;
    border-radius: 6px;
    width: 140pt;
}

button.button1:hover {
    background-color: rgb(64, 167, 64);
}

.button2 {
    background-color: rgb(34, 116, 34);
    border: none;
    padding: 8px 8px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    color: whitesmoke;
    border-radius: 6px;
    width: 100pt;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

button.button2Red {
    background-color: rgb(160, 13, 13);
}

.button2:hover {
    background-color: rgb(64, 167, 64);
}

button.button2Red:hover {
    background-color: red;
}

.modalLabel {
    color: green;
    width: 100%;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}

.error-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    border: 5px red solid;
}

.intButtons {
    padding-top: 10px;
}

.hidden {
    display: none;
}

.sub {
    font-size: 15px;
    margin-left: 8pt;
}

.SANValue {
    margin-left: 8pt;
    width: 120pt;
}

.SANEnter {
    float: right;
    cursor: pointer;
}

.SANList {
    border-width: 0px;
    outline: none;
    margin-left: 8pt;
}

.SANList:focus {
    border-width: 0px;
    outline: none;
}

#keyPasswordLabel {
    padding-left: 6pt;
    padding-right: 3pt;
}