div#tagsEdit(title='Edit Tags')
  form#tagsEditForm(action="/updateCertTag", method="put", encType="application/x-www-form-urlencoded")
    fieldset 
      div Tags:
      div#tagArray
      input#certificateId(type='text' name='toTag' value='' class='hidden')
      div#tag-form-buttons
        input.button3#tagReset(type="button" title="reset", onclick="resetTagForm()", value="Cancel")
        input.button3#tagSubmit.form-submit-button(type="submit" title="submit", value="OK")
