block variables
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    link(rel="stylesheet" href="scripts/magnific/magnific-popup.css")
    link(rel="stylesheet", type="text/css" href="/styles/style1.css")
    link(rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js")
    script(src="scripts/magnific/magnific-popup.js")
    script(src="scripts/sprintf-js/dist/sprintf.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js") 
    script(src="https://code.jquery.com/ui/1.13.2/jquery-ui.js")
    title #{title} #{version} | Local Certificate Manager
  body
    div#root
      block layout-content