extends layout

block layout-content

  div.View
    span 
     h1.Banner 
      | Local Certificate Manager
      span.sub #{version}
      span#auth.hidden= authRequired
  div.text-center
    h3#view-title Please sign in:
    form(class="form-signin" method="POST" action="/login" id="loginForm" onsubmit="onSignIn(event)")
      #error
        if error
          p.text-danger Error!!!
        div
          // input userid
          div.user-id
            label.signin-label(for="inputUserId") User Identity:
            input.user-id-input(type="text" name="userId" autocomplete="username" id="input" class="form-control" placeholder="User Identity" required autofocus)
          div.password
            // input password
            label.signin-label(for="inputPassword") Password:
            input.password-input(type="password" name="password" autocomplete="current-password" id="inputPassword" class="form-control" placeholder="Password" required)
          div 
            input.button2(type="submit" class="btn btn-lg btn-primary btn-block" value="Sign in")
